*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: white;
    --primary-background-color: #4A154C;
    --secondary-color: #ECDEED;
    --link-color: #6A8FBF;
}   

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    background:  var(--primary-background-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.2rem;
}

.logo-container img {
    width: 8rem;
    height: auto;
}

nav {
    display: none
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0rem;
    list-style: none;
}

nav ul li {
    margin: 0 0.5rem;
}

nav ul li a {
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    padding: 0.4rem;
}
.header-img {
    width: 5rem;
    height: auto
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.menu-container button {
    display: none;
}

.magnifyer {
    margin-right: 2rem;
}

.magnifyer , .hamburger {
    width: 2rem;
    height: auto;
    filter: invert(100%);
}

.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.first-section > h1 {
    margin-bottom: 1rem;
}

.first-section > h1 > img {
    width: 3rem;
    height: auto;
}

.workspace-main-container {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 4px solid #6E4370;
    width: 100%;
}

.workspace-main-container > p {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    color: var(--link-color);
}

.workspace-container {
    background-color: #ECDEED;
    padding: 1rem;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.workspace-container > p {
    font-size: 1rem;
}

.chas-container {
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    row-gap: 0.75rem;
}

.chas-container h2 {
    margin-bottom: 1rem;
}

.chas-container:hover .person1 {
    animation-name: myimage;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.chas-container:hover .person2 {
    animation-name: myimage;
    animation-duration: 2s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
}

.chas-container:hover .person3 {
    animation-name: myimage;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

.chas-container:hover .person4 {
    animation-name: myimage;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
}

.chas-container:hover .person5 {
    animation-name: myimage;
    animation-duration: 2s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
}

.people-container {
    display: flex;
    position: relative;
}

.people-container img {
    width: 32px;
    height: auto;
    bottom: 0;
}

.chas-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 5%;
}

.chas-content > img {
    width: 5rem;
    height: auto;
}

.chas-members-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.chas-members-container h2 {
    letter-spacing: 0.05rem;
}

.people-members-container {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}

.people-container {
    display: flex;
}

.people-container img {
    width: 1rem;
    height: auto;
}

.chas-container button {
    font-size: 1rem;
    background-color: var(--primary-background-color);
    width: 90%;
    color: var(--primary-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: auto;
}

.first-section h1 {
    color: var(--primary-color);
    align-self: self-start;
}

.workspace-text {
    font-size: 0.75rem;
}

.second-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 4px solid var(--primary-background-color);
    width: 100%;
    background-color: var(--primary-color);
    row-gap: 1rem;
    border-radius: 10px;
}

.second-section > p {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    align-self: flex-start;
    order: 1;
}

.second-section button {
    font-size: 0.8rem;
    font-weight: 700;
    background-color: var(--primary-color);
    border-color: var(--primary-background-color);
    color: var(--primary-background-color);
    width: 90%;
    margin: 0 auto;
    border: 1px solid var(--primary-background-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    order: 2;
}

.second-section img {
    width: 10rem;
    height: auto;
    align-self: flex-start;
    margin-bottom: -1.6rem;
    order: 3;
}

.third-section {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.third-section p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
}

.third-section a {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--link-color);
}

@media screen and (min-width: 768px) {
    html {
        font-size: calc(1.5*62.5%);
    }

    nav {
        display: block
    }

    header {
        width: 90%;
        margin: 1rem auto;
    }

    .header-img.hamburger {
        display: none;
    }

    main {
        width: 75%;
        margin: 0 auto;
    }
}


@media screen and (min-width: 1200px) {

    html {
        font-size: calc(2*62.5%);
    }

    header {
        width: fit-content;
        margin: 1rem auto;
    }

    main {
        width: 60%;
        margin: 0 auto;
    }

    .menu-container {
        column-gap: 1rem;
        margin-left: auto;
    }

    .menu-container button {
        font-size: 0.5rem;
        display: block;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid var(--primary-color);
    }

    .button-sales {
        background-color: var(--primary-background-color);  
        color: var(--primary-color);
    }

    .chas-container {
        flex-wrap: nowrap;
    }

    .chas-container button {
        width: fit-content;
        margin-right: 0;
    }

    .second-section {
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
        padding-right: 10px;
    }

    .second-section > p {
        height: 100%;
        order: 2;
        align-self: center;
        margin: 0;
        flex: 1;
    }
    
    .second-section button {
        order: 3;
        height: 50%;
        width: fit-content;
    }
    
    .second-section img {
        order: 1;
    }

    .third-section {
        flex-direction: row;
    }
}


@keyframes myimage {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }
}